<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RandomItems.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Strong Reference Cycles UIWindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Strong Reference Cycles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>assign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22EE59C91DE568F0002FBE5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EE59DD1DE68217002FBE5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EE59EB1DE68C01002FBE5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EE59F91DE68EF6002FBE5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EE5A041DE6C288002FBE5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
